
<% if @user.errors.any? %>
<% @user.errors.full_messages.each do |msg| %>
<div><%= msg %></div>
<% end %>
<% end %>

<h1>Sign up</h1>
<form action="/user" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user_email">email</label>
  <input id="user_email" type="text" name="user[email]" value="<%= @user.email %>">
  <label for="user_passwrod">password</label>
  <input type="password" name="user[password]">

  <input type="submit" value="sign up">
</form>
