<div class="page-header">
  <h1>All Bands</h1>
</div>
<ul>
<% @bands.each do |band| %>
  <li><%= link_to band.name, band_url(band) %></li>
<% end %>
</ul>

<%= link_to ":: Add a New Band", new_band_url %>
